<nav class="navbar navbar-expand-lg backgroundorange">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="/img/icons/pokeball_icon.png" alt="icon" class="logonavbar" style="user-select: none;">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link effecthoverkecil {{#if (equal currentPage 'Home')}}textbiru textbold{{else}}textputih{{/if}}"
                    style="user-select: none;" 
                    aria-current="page" 
                    href="/">
                        Home
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link effecthoverkecil {{#if (equal currentPage 'Blog')}}textbiru textbold{{else}}textputih{{/if}}"
                    style="user-select: none;" href="/blog">
                    Pokemon List
                </a>
            </li>
            </ul>
            {{#if user}}
                <span class="me-2 text-white">
                    Hello, {{user.username}}
                </span>
                <a class="text-purple me-3" href="/logout">Logout</a>
            {{/if}}
            <a class="d-flex" href="/auth-login">
                <button class="btn btn-primary effecthoverkecil" type="submit">Login/Register</button>
            </a>
        </div>
    </div>
</nav>