{{#> layout currentPage='Type-Blog'}}

    <form id="create-blog" class="create-blog-form" method="post" action="/blog-type">

        {{#if messages.success}}
        <div class="alert alert-success alert-dismissible fade show mt-3" role="alert">
            {{messages.success}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {{/if}}
        
        {{#if messages.error}}
            <div class="alert alert-danger alert-dismissible fade show mt-3" role="alert">
                {{messages.error}}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {{/if}}

        <h1 style="user-select: none; text-align: center">Add Type Pokemon</h1>

        <div class="typeblog-image-container">
            <img src="/img/icons/pokeball_icon.png" alt="Pokemon" style="width: 150px; height: auto;">
        </div>

        <div class="input-group mb-3 mt-3" style="user-select: none;">
            <select class="form-select" aria-label="Pokemon Type Selection" style="color: #6c757d;">
                <option value="" disabled selected>Tipe Pokemon Saat Ini</option>
                {{#each types}}
                    <option value="{{this.id}}" disabled>{{this.name}}</option>
                {{/each}}
            </select>
        </div>

        <div class="input-group mb-3 mt-4" style="user-select: none;">
            <input name="title" id="title" type="text" placeholder="Tambah Type" class="form-control" aria-label="Sizing example input" aria-describedby="title" required>
        </div>

        <div class="createblog-button-container mt-4">
            <button class="btn btn-primary" type="submit">Register</button>
        </div>

        <p class="login-tulisan mt-4">Ingin menghapus type?</p>
        <a href="/delete-type" class="register-link">Klik disini</a>

    </form>

{{/layout}}