{{#> layout currentPage='Home'}}
        <h1 class="title-top">Pokemon</h1>
        <div class="button-container">
            <button id="btn" class="btn btn-primary activetwo">Add Hero</button>
            <button id="btn-2" class="btn btn-primary activetwo">Add Type</button>
        </div>
{{/layout}}